{% extends "layout.html" %}

{% block title %}
iNat2Wiki
{% endblock %}

{% block main %}

<div class="container">
  <h2>About</h2>
  <p>iNat2Wiki is a Flask App to conect iNaturalist to Wikimedia projects, developed for
    supporting the <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Biodiversity" target="_blank">
      WikiProject Biodiversity. </a> </p>

  <h3>Related tools</h3>
  <ul>
    <li>Andra's <a href="https://github.com/wikiproject-biodiversity?" target="_blank">wikiproject-biodiversity</a></li>
  </ul>
  <p>

  <h3>Credits</h3>
  <ul>
    <li><a href="https://github.com/lubianat" target=" _blank">Tiago Lubiana</a> (maintainer)</li>
    <p>Special thanks to Andra Waagmeester and Dario Taraborelli for the guidance in the digital naturalism world – in
</div>
{% endblock %}